# First Classs

In [11]:
# 변수

a=1 #정수
print(a)
print(type(a))

a1= 1.1 #실수
print(a1)
print(type(a1))

b= "python" #문자
print(b)
print(type(b))

c=[1,2,3,4,5] #리스트
print(c)
print(type(c))

1
<class 'int'>
1.1
<class 'float'>
python
<class 'str'>
[1, 2, 3, 4, 5]
<class 'list'>

In [25]:
d = {"name": "홍길동", "email": "hong@mail.com"} #딕셔너리
print(d)
print(type(d))

e= [[1,2,3,4,5], [1,2,3,4,5], [1,2,3,4,5]] #리스트는 연산 불가
print (e)
print (type(e))

{'name': '홍길동', 'email': 'hong@mail.com'}
<class 'dict'>
[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]
<class 'list'>

In [27]:
import numpy as np
f= np.array(e) # 배열(array)는 list와 비슷하지만, 행렬연산 가능하고, 데이터 처리속도가 빠름
print (f)
print (type(f))
print (f.shape)

[[1 2 3 4 5]
 [1 2 3 4 5]
 [1 2 3 4 5]]
<class 'numpy.ndarray'>
(3, 5)

In [21]:
pip install numpy

Requirement already satisfied: numpy in c:\users\yeongchan\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pandas as pd
g = pd.DataFrame(f, columns=['A', 'B', 'C', 'D', 'E']) #array에 부가적이니 기능 부여하여 엑셀 변환가능
print(g)
print(type(g))
print(g.shape)

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
<class 'pandas.core.frame.DataFrame'>
(3, 5)

In [31]:
g

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [55]:
a=6
b=3

print(a+b)
print(a-b)
print(a*b)
print(a/b)

print(a**b) #제곱 a의b제곱  6의 3제곱
print(a//b) #몫
print(a%b) #나머지

9
3
18
2.0
216
2
0

In [61]:
print('%d + %d = %d' %(a, b, a+b)) # %는 %d= 뒤에 %(a,b,a+b)를 불러오는 뜻임
a1,b1, = 1.567, 3.567
print('%f + %f = %f' %(a1, b1, a1+b1))
print('%.2f + %.2f = %.3f' %(a1, b1, a1+b1))
print(round(a1,2))

c= input('숫자를 입력하시오')
print( '입력한 숫자는:', c)

6 + 3 = 9
1.567000 + 3.567000 = 5.134000
1.57 + 3.57 = 5.134
1.57

숫자를 입력하시오 14

입력한 숫자는: 14

In [81]:
name= "David"
title= "Student"
print(name+title)
print(name+" "+title)

DavidStudent
David Student

In [85]:
name = "David"
age = 20

print(name, age)
print("I know {0} is a {1}".format(name, age))
print(f"I know {name} is a {age}")
print('I know %s is a %f' %(name, age))
print('I know %s is a %.1f' %(name, age))

David 20
I know David is a 20
I know David is a 20
I know David is a 20.000000
I know David is a 20.0

In [95]:
title = "Student"
print(len(title))
print (title[0])
print (title[-1])
print (title[-4])

7
S
t
d

In [107]:
print (title[:-2])

Stude

In [115]:
list2 = [1,2,3,4,5]
print (max(list2))
print (min(list2))
print (sum(list2))

5
1
15

In [117]:
print(sum(list2)/len(list2))

3.0

In [125]:
#딕셔너리

dict1 = {"Jenny":20, "Ella":31}
print(dict1)

dict1["John"]=26
dict1['Tom']=29
print(dict1)

print(dict1["Tom"])
print(dict1.keys())
print(dict1.values())

for key, value in dict1.items():
    print(key, value)

for i, name in enumerate (dict1.keys()): # 반복문 사용
    print(i, name, dict1[name])

{'Jenny': 20, 'Ella': 31}
{'Jenny': 20, 'Ella': 31, 'John': 26, 'Tom': 29}
29
dict_keys(['Jenny', 'Ella', 'John', 'Tom'])
dict_values([20, 31, 26, 29])
Jenny 20
Ella 31
John 26
Tom 29
0 Jenny 20
1 Ella 31
2 John 26
3 Tom 29

### if 문

In [128]:
basic = 40
intermediate =70
advanced = 100
score = 10

if score <= basic:
    print ("초급반 수강하세요")
elif score <= intermediate:
    print ("중급반 수강하세요")
elif score <= advanced:
    print ("고급반 수강하세요")
else:
    print("점수 확인하세요")

초급반 수강하세요

In [136]:
basic = 40
intermediate =70
advanced = 100
score = float(input("점수는?"))

if score <= basic:
    print ("초급반 수강하세요")
elif score <= intermediate:
    print ("중급반 수강하세요")
elif score <= advanced:
    print ("고급반 수강하세요")
else:
    print("점수 확인하세요")

점수는? 90

고급반 수강하세요

### for 문

In [143]:
for i in range(10):
    print(1)
print('='*30)

for i in range(2,10):
    print (i)
print ('='*30)

for i in range(1, 10):
    print ("2* %d = %d" %(i, 2*i))
print('='*30)

# 예제) 2= 9 단까지 출력
for i in range(2,10):
    for j in range (1,10):
        print('%d * %d = %d' %(i, j, i*j))
        #print(f"{i} * {j} = {i*j}", end = " ")
    #print ("")

print ( '='*30)

marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number += 1
    if mark > 60:
        print( "%d 번 학생은 합격" % number)
    else:
        print( "%d번 학생은 불합격" % number)

print("*"*20)

1
1
1
1
1
1
1
1
1
1
==============================
2
3
4
5
6
7
8
9
==============================
2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
==============================
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
==============================
1 번 학생은 합격
2번 학생은 불합격
3 번 학생은 합격
4번 학생은 불합격
5 번 학생은 합격
********************

In [145]:
# 짝수만 골라 프린트하기
a= [1,2,3,4,5,6]
for num in a:
    if num % 2 ==0:
        print (num)

print ("*"*20)

2
4
6
********************

In [151]:
res = []
a= [1,2,3,4,5,6]
for num in a:
    if num % 2 ==0:
        res.append(num)
print(res)

print('='*30)

for i, num in enumerate(a):
    print (i, '번째 숫자: ', num)

print('='*30)

dict1 = {"Jenny":20, "Ella":31, "John":17 }
for i, name in enumerate (dict1.keys()):
    print(i, name, dict1[name])

[2, 4, 6]
==============================
0 번째 숫자:  1
1 번째 숫자:  2
2 번째 숫자:  3
3 번째 숫자:  4
4 번째 숫자:  5
5 번째 숫자:  6
==============================
0 Jenny 20
1 Ella 31
2 John 17

### While

In [154]:
count = 0
while count < 10:
    count += 1
    print(count)

print ('='*30)

#구구단 중 2단 프린트하기
i = 1 
while i < 10:
    print ('2 x %d = %d ' %(i, i*2))
    i +=1

1
2
3
4
5
6
7
8
9
10
==============================
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [162]:
# 함수 (function)

def sum(a, b):
    s = a+b
    return s

print (sum(3,5))

print('='*30)

def sum_and_mul(a,b): #리턴 값이 2개 이상일 수도 잇음
    return a+b, a*b


s, m= sum_and_mul(3,5)
print (s)
print (m)
print (sum_and_mul(3,5))

print ('='*30)

# *args: 변수의 숫자가 몇개일지 모를때

def sum(*args):
    total = 0
    for num in args:
        total +=num
    return total
result1 = sum(10, 20, 30)
print (result1)
result2 = sum(10, 20, 30, 40)
print (result2)

print ('='*30)

#Lambda '이름없는 함수'를 표현 시

def f(x):
    return x**2
result1=f(10)
print(result1)

#위 함수를 lambda로 표시(좀 더 간단히 표현 가능)
func = lambda x: x**2
result2 = func(10)
print (result2)

print ((lambda x, y: x+y)(10,20)) #매게 변수가 없는 함수

8
==============================
8
15
(8, 15)
==============================
60
100
==============================
100
100
30